<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add User</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="addUserForm" (ngSubmit)="saveUser()">
    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="!addUserForm.controls.name.valid  && addUserForm.controls.name.dirty">
        <p>Name is required.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Department</ion-label>
        <ion-input type="text" formControlName="department"></ion-input>
      </ion-item>
      <ion-item *ngIf="!addUserForm.controls.department.valid  && addUserForm.controls.department.dirty">
        <p>Department is required.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Roll No</ion-label>
        <ion-input type="number" formControlName="rollno"></ion-input>
      </ion-item>
      <ion-item *ngIf="!addUserForm.controls.rollno.valid  && addUserForm.controls.rollno.dirty">
        <p>Roll No. should be number and is required.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>CGPA</ion-label>
        <ion-input type="text" formControlName="cgpa"></ion-input>
      </ion-item>
      <ion-item *ngIf="!addUserForm.controls.cgpa.valid  && addUserForm.controls.cgpa.dirty">
        <p>CGPA is required.</p>
      </ion-item>
    </ion-list>

    <button ion-button full color="primary" outline type="submit" [disabled]="!addUserForm.valid">
      Save
    </button>
  </form>
</ion-content>
